<header>
    <div class="banner">
        <a href="/"><h1 class="bannerTitle">MERCH END</h1></a>
    </div>
    <hr></hr>
    <nav>
        <a href="/">Home</a>
        <a href="/">About</a>
        <a href="/">Contact</a>
    </nav>
    <hr></hr>
</header>