form{
    margin-top:5%;
    background-color:orangered;
    color:black;
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    min-height:300px;
    margin-left:35%;
    margin-right:35%;
    border-radius: 40px;
}
input{
    font-size:20px;
    background-color: black;
    border-radius: 20px;
    color:antiquewhite;
    text-align:center;
}
label{
    font-size:20px;
    padding:5px;
}
html{
    text-align:center;
    background-color: black;
    color:darkorange;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
.banner{
    display:flex;
    flex-direction: column;
    margin:0%;
}
.bannerTitle{
    font-size: 48px;
    color:orangered;
}

.price{
    max-width:100px;
    height:10%;
    text-align:center;
}

.priceInput{
    display:flex;
    flex-direction: row;
    text-align:center;
    margin-left:35%;
}

.dollarSign{
    font-size:24px;
    margin-right:0%;
    margin-top:0%;

}

nav{
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    /* margin-left:30%;
    margin-right:30%; */
    margin-top:2%;
    margin-bottom:2%;
}
hr{
    margin-bottom:'10%';
    border-style:ridge;
    border-radius:20%;
    border-color:darkorange;
}
a{
    color:darkorange;
    text-decoration: none;
    
}
.pageTitle{
    margin-top:2%;
    margin-bottom:5%;
}

a:hover{
    color:orange;
}

a:visited{
    color:orangered;
}

.product{
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    border-style:ridge;
    align-items: center;
    border-color: orangered;
    border-radius:25px;
    padding:25px;
    background-color: black;
    min-width: 150px;
    max-width: 150px;
}
.product:hover{
    background-color: orangered;
    color:black;
}

.productContainer{
    display:flex;
    flex-direction: row;
    margin-left:25%;
    margin-right:25%;
    margin-bottom:5%;
    justify-content: space-evenly;
}

.variantGallery{
    display:flex;
    flex-direction: row;
    margin-left:20%;
    margin-right:20%;
}

.variantChoice{
    border-style:ridge;
    font-size:16px;
    border-color:orangered;
    padding:10px;
    text-align:center;
    border-radius:20px;
    min-width: 150px;
    max-width: 150px;
    margin:1%;
}

.variantPrice{
    margin-bottom:1%;
}
footer{
    position:fixed;
    margin-right:auto;
    margin-top:5%;
    height:150px;
    margin-bottom:0px;
    width:100%;
}
