{% extends 'layouts/base.twig' %}

{% block main_content %}
    {% include 'views/variants/_form.twig' with { 'variant': variant, 'products': products } %}
    <a href="/variants/{{ variant.productId }}/edit">Edit</a> | <a href="/variants/{{ variant.productId }}">Delete</a>
{% endblock %}