{% extends 'layouts/base.twig' %}

{% block main_content %}
    <h1>All Variants</h1>
    <div class='productContainer'>
        {% for variant in variants %}
            <a href="/variants/{{variant.productId}}/{{variant.slug}}"><div class="product">
                    {{ variant.title }}<br />
                    {{ variant.price}} 
            </div></a>
        {% endfor %}
    </div>
    <p>
        <a href="/variants/new">Create New Variant</a>
    </p>
{% endblock %}