{% extends 'layouts/base.twig' %}

{% block main_content %}
    {% include 'views/products/_form.twig' with { 'product': product } %}
    <a href="/products/{{ product.id }}/edit">Edit</a> | <a href="/products/{{ product.id }}">Delete</a>
{% endblock %}