{% extends 'layouts/base.twig' %}

{% block main_content %}
    <h1 class="pageTitle">All Products</h1>
    <div class='productContainer'>
        {% for product in products %}
            <a href="/products/{{product.id}}/{{product.slug}}"><div class="product">
                    {{ product.title }}<br />
                    {{ product.price}} 
            </div></a>
        {% endfor %}
    </div>
    <p>
        <a href="/products/new">Create New Product</a>
    </p>
{% endblock %}